
.profile-body {
    font-family: 'Arial', sans-serif;
    background-color: #000000; 
    color: #333;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-main {
    background-color: #3e0a69;
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    max-width: 180vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    margin:0%;
}

.back-button {
    display: inline-block;
    margin-top: 20px; 
    padding: 10px 10px;
    background: #ff2b47;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.back-button:hover {
    background: #ff5252;
}

.profile-main h1 {
    color: #00ff6e;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2em;
}




.imagenes{
    display: flex;
    width: 170vh;
    height: 450px;
}
.imagenes img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;

}
.imagenes img:hover{
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}




audio{
    padding: 0%;
    margin-top: 10px    ;
}

audio::-webkit-media-controls-panel{
    background-color: #ff5252;
}
audio::-webkit-media-controls-play-buttom{
    background-color: #ff5252;
    border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display{
    color: #000000;
}
audio::-webkit-media-controls-time-remaining-display{
    color: #000000;
}
audio::-webkit-media-controls-timeline{
    border-radius: 40px;
    background-color: #ff5252;
}
audio::-webkit-media-controls-volume-solider{
    background-color: #ff5252;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
audio::-webkit-media-controls-mute-button{
    background-color: #ff5252;
    border-radius: 50%;
}
 

.bajito1{
    display: flex;
    columns: 2;
    justify-content: space-between;
}

