
body {
    font-family: 'Arial', sans-serif;
    background-color: #010813;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 140vh;
    height: 100px;
    color: #FFD700;
    background: #046338;
    border-radius: 15px;
    box-shadow: #010813;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.747);
}
@media (max-width: 1050px){
  header{
    width: 120vh;
    }
}
@media (max-width: 850px){
  header{
    width: 90vh;
    }
}
@media (max-width: 550px){
  header{
    width: 60vh;
    }
}


h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    padding: 0%;
    margin: 30px;
}




.main-container {
    background-color: #046338; 
    border-radius: 15px;
    width: 140vh;
    height: 120vh;
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
}

@media (max-width: 1050px){
  .main-container{
    width: 120vh;
    height: 180vh;
    }
}


@media (max-width: 850px){
  .main-container{
    width: 90vh;
    height: 180vh;
    }
}


@media (max-width: 550px){
  .main-container{
    width: 60vh;
    height: 180vh;
    }
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.profile {
    background: #099c5aaf; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.685);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px;
    height: 380px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.profile:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 100%;
    border-radius: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.profile-img:hover {
    opacity: 0.6;
    transform: scale(1.02);
}

.profile-link {
    display: inline-block;
    margin: 0%;
    margin-top: 0px;
    padding: 10px 20px;
    background: #ff4444;
    color: rgb(0, 0, 0);
    font-size: large;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.profile-link:hover {
    color: #ff4444;
    background: #15f7009c;
}

h2{
    margin: 0px;
    margin-top: 20px;
    padding: 0%;
    color: #010813;
}
.tiburoon{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: end;
}

.billie{
    width: 50px;
    height: 90px;
    display: flex;
    justify-content: end;
}

.perfilani{
    display: flex;
    columns: 2;
    justify-content: space-between;

}


.perfilmarlem{
    display: flex;
    columns: 2;
    justify-content: space-between;
}


